.menuBox {
  background-color: white;
  width: 350px;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.2),
    0 4px 6px -4px rgb(0 0 0 / 0.2);
  border-radius: 0px 0px 8px 8px;
}

.cardHead {
  height: 100px;
  margin-top: 20px;
  background-color: #ffdf38;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.2),
    0 4px 6px -4px rgb(0 0 0 / 0.2);
  text-align: center;
  padding: 0;
}

.cardHead h1 {
  padding-top: 40px;
  font-weight: 600;
  font-size: 1.5rem;
}

.divider {
  color: #cbcbcb;
}

.menuBox a {
  text-decoration: none;
}

.menuBoxTitle {
  padding: 5px 10px 5px 10px;
  width: fit-content;
  font-size: 1.25rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuItem {
  padding: 5px;
  animation: fadeIn 0.5s;
  margin: 5px;
  color: #475569;
}

.menuItem:hover {
  color: black;
}

.menuFolder {
  cursor: pointer;
}

.indent {
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .menuBox {
    height: 300px;
  }
}
