/* Frame */
.mainFrame {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menuFrame {
  background-color: #f1f5f9;
  width: 600px;
  height: 100%;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentFrame {
  width: 100%;
  height: 100%;
}

/* Menu */
.menuBox {
  border-radius: 0.75rem;
  background-color: white;
  width: 400px;
  height: 700px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.menuBox h1 {
  text-align: center;
  font-weight: 500;
}

.menuBox h2 {
  text-align: center;
  font-weight: 500;
}
