/* Frame */
.mainFrame {
  display: flex;
  width: 100vw;
  flex-direction: row;
  height: 100vh;
  background-color: #fffdf7;
}

.menuFrame {
  width: 25%;
  height: 100%;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentFrame {
  width: 75%;
  height: 100vh;
  overflow: scroll;
}
/* 
.contentBox {
  margin-top: 20px;
  padding: 140px 40px 40px 40px;
} */

@media only screen and (max-width: 600px) {
  .menuFrame {
    padding-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    align-items: stretch;
  }

  .mainFrame {
    display: block;
    height: 100%;
  }

  .contentFrame {
    height: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
  }

  .contentBox {
    width: 90%;
    padding: 0;
  }
}
