.container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100vh;
}

.tableOfContentContainer {
  width: 33%;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postContainer {
  width: 67%;
  display: flex;
  justify-content: center;
}

.postCard {
  background-color: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.2),
    0 4px 6px -4px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  padding: 3rem;
  overflow-y: scroll;
  margin: 30px;
}

.lastUpdated {
  color: #475569;
}

.edit {
  text-decoration: none;
}

.title {
  margin: 20px 0px;
  font-size: 3rem;
}

.divider {
  color: #cbcbcb;
}

.mdxWrapper table {
  border-radius: 8px;
  border: 1px solid black;
  border-collapse: collapse;
}

.mdxWrapper table tr td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

.mdxWrapper table tr th {
  padding: 5px;
  background-color: #ffdf38;
  border: 1px solid black;
  border-collapse: collapse;
}

.mdxWrapper p {
  line-height: 2;
}

.mdxWrapper ul li {
  padding: 5px 0px;
}

@media only screen and (max-width: 1000px) {
  .tableOfContentContainer {
    display: none;
  }

  .postContainer {
    width: 100%;
  }

  .container {
    justify-content: center;
  }

  .postCard {
    height: fit-content;
  }
}
