.codeBox {
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.postH1 {
  font-size: 2rem;
}

.postH2 {
  font-size: 1.75rem;
}

.postH3 {
  font-size: 1.5rem;
}
