.avatar {
  border-radius: 9999px;
}

.authorContainer {
  display: flex;
  align-items: center;
}

.imageNameContainer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.imageNameContainer a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
