.navbar {
  display: none;
  background-color: #ffdf38;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  height: 100px;
}

.desktopNavbar {
  display: flex;
  align-items: center;
  background-color: #ffdf38;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
  height: 100px;
}

.house {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 30px;
}

.logo {
  border-radius: 8px;
  padding: 10px 20px 10px 10px;
  font-weight: bold;
  background-color: #fffbcc;
  margin: 10px;
  color: #1e293b;
  align-items: center;
  display: flex;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  flex-shrink: 0;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.logo h1 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    align-items: center;
  }
}
